/* DoctorLogin.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: indianred;
  background-image: url('C:\Users\HP\Documents\SIH_WEB\Website-main\frontend\src\pages\Css\images\loginpic.png');
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #e6ceb3;
  border-radius: 8px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #6699cc;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: #f00;
}
