patientpanel.css
/* PatientPanel.css */

.patient-panel-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    height:700px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F0F6FF;
  }
  
  .entire{
    background-color: #eeecde;
  }
  .title{
    background-color: #F0F6FF;
  }
  #error-message {
    color: bisque;
  }
  
  #welcome-message {
    color: rgb(45, 33, 33);
  }
  
  #schedule-appointment-header, #appointments-header, #medicines-header {
    margin-top: 20px;
  }
  
  #appointment-form {
    margin-top: 10px;
  }
  
  #department-select, #doctor-select, #appointment-date, #issue-textarea {
    margin-bottom: 15px;
   
  }
#schedule-button {
    background-color: #6699cc;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  #schedule-button:hover{
    background-color: bisque;
  }

  #appointments-list, #medicines-list {
    list-style-type: none;
    padding: 0;
  }
  
  #appointments-list li, #medicines-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  #logout-button {
    background-color: indianred; 
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  #logout-button:hover{
    background-color:#6699cc;
  }
.entire{
  width: auto;
}