/* Register.css */
.register-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6ceb3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top{
  
  background-color: #e6ceb3;
  background-image: url('C:\Users\HP\Documents\SIH_WEB\Website-main\frontend\src\pages\Css\images\loginpic.png');
  background-attachment: fixed;
}
.register-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.register-form {
  width: 100%;
}

.register-table {
  width: 100%;
  border-collapse: collapse;
}

.register-table td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.register-table label {
  display: block;
  font-weight: bold;
}

.register-table input, .register-table select {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  background-color: #6699cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.register-message {
  margin-top: 20px;
  text-align: center;
  color: indianred;
}